// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
General / Wrapper
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.mainContent {
    margin:0 auto;
    width: 77.5%;
}

.justify-content-center {
    padding-top: 50px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
NavBar
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.navBar ul {
    display: flex;
    list-style: none;
    padding: 0 6.5%;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.navBar .home,
.navBar .video,
.navBar .editions,
.navBar .store,
.navBar .search {
    width: 12px;
    height: 12px;
}

.navBar a {
    color: black;
}
.navBar a:hover {
    color: #005be2;
    text-decoration: none;
}

.navBar a:hover path {
    fill: #005be2;
}

.logo a:hover path{
    fill: #000000;
}

.navBar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 53px;
    padding: 10.5px;
}

.navBar .logo {
    margin: auto;
    width: 47px;
    height: 27px;
    padding: 0;
}

.iconPad {
    padding-left: 10px;
}

.fa-plus,
.fa-envelope {
    padding-right: 8px;
}

.navBar button {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    width: 172px;
    height: 36px;
    background-color: transparent;
    letter-spacing: 1px;
    border: 1px #ddd solid;
}

.navBar button:hover {
    background-color: #ddd;
}

.navBar button:focus {
    outline: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Sub NavBar
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.subNav {
    text-align: center;
    padding: 11px;
    margin-bottom: 20px;
}

.subNav a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 12.5px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    color: #666;
    margin: 12px;
}

.subNav a:hover {
    color: #005be2;
    text-decoration: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
'Hero' Article
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.mainArticle {
    display: flex;
    margin-bottom: 50px;
}

.mainArticle p {
    margin-bottom: 10px;
}

.mainArticle:hover a{
    text-decoration: underline;
}

.mainArticleImage {
    width: 100%;
    height: 394px;
}

.mainAritcleContent {
    padding-left: 25px;
    padding-right: 20px;
}

.articlePunchline {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
}

.articleTitle h1,
.userArticles {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: -1.5px;
}

.articleTitle h1:hover {
    color: #005be2;
}

.articleSnippets {
    display: flex;
}

.articleSnippets p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-right: 12px;
    color: #888;
}

.articleSnippets a {
    color: #888;
}

.articleSnippets a:hover {
    color: #005be2;
}

.articleText p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666;
}

.articleIcons i, {
    padding-right: 25px;
    color: #888;
}

.articleIcons .numberLikes {
    font-family: 'Open Sans', sans-serif;
    color: #888;
    font-size: 12px;
    padding-left: 5px;
}

.articleIcons i:hover {
    color: #005be2;
}

.articleIcons i:hover .numberLikes{
    color: #005be2;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Sub Articles / Article Cards
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.subArticles {
    display: flex;
}

.articleCard {
    margin-bottom: 50px;
}

.articleCard:hover a{
    text-decoration: underline;
}

.subArticleImage {
    width: 92.5%;
    height: 187px;
}

.subArticles .articleTitle h1 {
    font-size: 22.5px;
    letter-spacing: -0.55px;
}

.subArticles .articlePunchline p {
    margin-top: 10px;
    margin-bottom: 2.5px;
}

.subArticles .mainAritcleContent {
    padding-left: 0;
    padding-right: 20px;
}

.subArticles p {
    margin-bottom: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Footer
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.footer {
    text-align: center;
    padding: 11px;
    margin-bottom: 20px;
}

.footer a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.25px;
    color: #777;
    margin: 10px;
}

.footer a:hover {
    color: #00b4e0;
    text-decoration: none;
}

.footer a:nth-of-type(10),
.footer a:nth-of-type(10):hover {
    color: #bbb;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Sign Up Page
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.signUpPage {
    font-family: 'Titillium Web', sans-serif;
}

.signUp {
    text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Create Article Page
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

small,
input[type=file] {
    margin-bottom: 20px;
}
